name: CI Workflow

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    environment: Production
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Show secret usage test
        env:
          TESTE: ${{ secrets.TESTE }}
        run: |
          echo "Secret variable: ${TESTE}"