name: CI Workflow
on: [push]
env:
  TESTE: ${{ secrets.TESTE }}
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Use test
        
        run: echo "Using teste $TESTE"
