name: CI Workflow
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Use TESTE
        env:
          API_KEY: ${{ secrets.TESTE }}
        run: echo "Using API key: $TESTE"
